:root {
    --border-width: 3px;
}

.annotation-area {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2 * var(--border-width));
    height: calc(100% - 2 * var(--border-width));
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--issue-type-based);
    stroke-width: var(--border-width);
    stroke: var(--issue-type-based);
}

.annotation-area-content {
    position: absolute;
}

.annotation-close-button {
    position: fixed !important;
    top: 0;
    right: 0;
    border-radius: 0 !important;
    width: 25px !important;
    height: 25px !important;
    min-height: 25px !important;
    background: var(--issue-type-based) !important;
}

.annotation-close-button:hover {
    background: var(--issue-type-based-dark) !important;
}

.annotation-tools-button-group {
    position: fixed !important;
    top: 0;
    left: 0;
}

.annotation-tools-button {
    border-radius: 0 !important;
    background: var(--issue-type-based-light) !important;
}

.annotation-tools-button:hover {
    background: var(--issue-type-based) !important;
}

.annotation-tools-button.Mui-selected {
    background: var(--issue-type-based-dark) !important;
}

.MuiSvgIcon-root {
    color: rgb(255, 255, 255);
}

.arrow-line {
    stroke: var(--issue-type-based);
}

.text-annotation-id {
    stroke: none;
    fill: white;
    font-size: 17px;
    font-weight: bold;
}
