:root {
    --border-width: 3px;
    --cursor: 'crosshair';
}

.annotation-tool {
    position: fixed;
    z-index: 2147483646;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#annotation-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke-width: var(--border-width);
    stroke: var(--issue-type-based);
    cursor: var(--cursor);
}

.annotation-area-content {
    position: absolute;
}

.annotation-area-border {
    position: fixed;
    background: var(--issue-type-based);
}

.sharp-corners,
.annotation-tools-button,
.annotation-close-button,
.annotation-save-button,
.comment-button,
.delete-button {
    border-radius: 0 !important;
}

.annotation-close-button {
    position: fixed !important;
    top: 0;
    right: 0;
    width: 25px !important;
    height: 25px !important;
    min-height: 25px !important;
    background: var(--issue-type-based) !important;
}

.annotation-close-button:hover {
    background: var(--issue-type-based-dark) !important;
}

.annotation-button-group {
    display: flex;
    flex-direction: column;
}

.annotation-tools-button {
    background: var(--issue-type-based-light) !important;
}

.annotation-tools-button:hover {
    background: var(--issue-type-based) !important;
}

.annotation-tools-button.Mui-selected {
    background: var(--issue-type-based-dark) !important;
}

.comment-button,
.delete-button {
    min-width: 0 !important;
    padding: 0 !important;
    float: right;
}

.comment-button {
    margin-left: 10px !important;
}

.annotation-area-content .MuiSvgIcon-root {
    color: white;
}

.annotation-save-button {
    padding: 11px 0 !important;
    min-width: 0 !important;
}

.annotation-js-hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.arrow-line {
    stroke: var(--issue-type-based);
}

.text-annotation-id {
    stroke: none;
    fill: white;
    font-size: 17px;
    font-weight: bold;
    user-select: none;
}

.svg-foreign-object {
    overflow: visible;
    stroke: none;
    fill: white;
    cursor: auto;
}
